<h1>Listing specialists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Specialty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @specialists.each do |specialist| %>
  <tr>
    <td><%= specialist.name %></td>
    <td><%= specialist.specialty %></td>
    <td><%= link_to 'Show', specialist %></td>
    <td><%= link_to 'Edit', edit_specialist_path(specialist) %></td>
    <td><%= link_to 'Destroy', specialist, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Specialist', new_specialist_path %>
