<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @specialist.name %>
</p>

<p>
  <b>Specialty:</b>
  <%= @specialist.specialty %>
</p>

<p>
  <strong>Pending Appointments</strong>
  <% @specialist.appointments.each do |app|%>
  <%= app.patient.name%>
  <%= app.appointment_date %>
  <%= (Date.today - app.appointment_date).to_int %>
      <%end%>
</p>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
